OPENAI_API_KEY=

FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=
INTERNAL_API_URL=http://backend:3000

TURNSTILE_SITE_SECRET_KEY=1x0000000000000000000000000000000AA
NEXT_PUBLIC_TURNSTILE_SITE_KEY=1x00000000000000000000AA

BACKEND_PORT=8000
FRONTEND_PORT=3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

MINIO_ACCESS_KEY=minio_access_key
MINIO_SECRET_KEY=minio_secret_key
